<h1>{{ events | length }} Events</h1>

{% if events is not empty %}

<ul>
	{% for event in events %}
		<article>
			<h2>{{ event.getName }}</h2>
			<p>{{ event.description|length > 35 ? event.description|slice(0, 35) ~ '...' : event.description }}</p>
			<p>{{ event.description|u.truncate(38, '...', false) }}</p>


			<ul>
				<li>Lieu: {{ event.location }}</li>
				<li> Price:  {{ format_price(event) }}
					</li>
				<li>Date: {{ event.startsAt|dateTime }}</li>
			</ul>
		</article>
			
	{% endfor %}
</ul>

{% endif %}
